* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.container {
  background-color: rgb(236, 7, 7);
  width: 50%;
  margin: 7% 25%;
  border-radius: 8px;
  padding: 8px;
}
h1 {
  text-align: center;
  color: aliceblue;
  padding: 10px 0;
}
.form {
  text-align: center;
  position: relative;
}

input {
  width: 50%;
  padding: 10px 5px;
  border: none;
  font-size: 20px;
  font-family: sans-serif;
}
.todo-button {
  width: 15%;
  padding: 13px;
  position: absolute;
  bottom: 0;
  top: 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.todo-button:hover {
  background-color: teal;
  color: aliceblue;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.todo-list {
  min-width: 50%;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background-color: aliceblue;
  color: black;
  font-size: 1.5rem;
}

.todo li {
  flex: 1;
  padding-left: 8px;
}

.check-button,
.trash-button {
  padding: 1rem;
  border: none;
  background: teal;
  color: aliceblue;
  cursor: pointer;
}
.validity {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.complete {
  text-decoration: line-through;
  opacity: 0.8;
}
